@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --neon-blue: #58E6FF;
  --neon-dark-blue: #02788D;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #d9e2f1;
  min-height: 100vh;
}

.button {
  font: inherit;
  cursor: pointer;
  background-color: var(--neon-dark-blue);
  border: 1px solid var(--neon-dark-blue);
  color: #000;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.button:hover,
.button:active {
  background-color: var(--neon-blue);
  border-color: var(--neon-blue);
  color: #000;
}

.text-button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.text-button:hover,
.text-button:active {
  color: var(--neon-blue);
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10%;
  flex-wrap: wrap;
}

#main-header #title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#main-header button {
  font-size: 1.2rem;
}

h1 {
  font-family: 'Metal Mania', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  color: #fff;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

a {
  color: #d9e2f1;
  cursor: pointer;
  text-decoration: none;
}

.products {
  width: 90%;
  max-width: 70rem;
  list-style: none;
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.product-item {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.product-item article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-item img {
  width: 100%;
  height: auto;
}

.product-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.75rem 0;
}

.product-item-description {
  margin: 2rem;
}

.product-item-price {
  display: inline-block;
  background-color: #013038;
  color: #05D9FF;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin: 0;
  border-radius: 4px;
}

.product-item-actions {
  margin-bottom: 1.5rem;
}

.modal {
  background-color: #e4ddd4;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  width: 80%;
  max-width: 40rem;
  animation: fade-slide-up 0.3s ease-out forwards;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.modal-actions .text-button {
  color: #1d1a16;
}

.modal-actions .text-button:hover,
.modal-actions .text-button:active {
  color: #312c1d;
}

.cart h2 {
  margin: 1rem 0;
}

.cart ul {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0;
  font-size: 1.15rem;
  font-weight: bold;
  color: #46443c;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.cart-item p {
  margin: 0;
}

.cart-item-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cart-item-actions button {
  cursor: pointer;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: #013038;
  color: #05D9FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-actions button:hover,
.cart-item-actions button:active {
  background-color: #012329;
  color: #05bbdc;
}

.control {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  width: 100%;
  max-width: 20rem;
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.control-row {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.center {
  text-align: center;
}

.error {
  max-width: 30rem;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #f4c7c7;
  color: #3e0505;
  border-radius: 15px;
}

.start-session-button {
  font: inherit;
  cursor: pointer;
  background-color: #3e0505;
  border: 1px solid #3e0505;
  color: #f4c7c7;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.start-session-button:hover,
.start-session-button:active {
  background-color: #FF0303;
  border-color: #FF0303;
}

.option-login {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container form {
  width: 100%;
  max-width: 20rem;
}

.size-buttons {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.size-button {
  text-align: center;
  cursor: pointer;
  border: 2px solid #d9e2f1;
  background-color: transparent;
  color: #d9e2f1;
  font-weight: bold;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.size-button:hover {
  background-color: #aeb3bb1f;
}

.size-button:active {
  border-color: #05D9FF;
  color: #05D9FF;
}

.size-button.selected {
  border-color: #05D9FF;
  color: #05D9FF;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background: #000;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 600px) {
  #main-header {
    justify-content: center;
    padding: 2rem 5%;
  }
}